# Arquivo de segredos
.env

# Ambiente virtual do Python
.venv/
venv/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Arquivos de banco de dados SQLite
*.db
*.db-journal

# Pasta de dados do Docker
data/